# backend/requirements.txt

fastapi
uvicorn
python-multipart

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-text-splitters==0.0.2
langchain-chroma==0.1.2
langchain-huggingface==0.0.3

chromadb

pymupdf
pypdf

sentence-transformers

ollama

pytesseract
pillow
pdf2image

python-jose
passlib
bcrypt==4.0.1

pymongo
python-dotenv
email-validator