# backend/requirements.txt

fastapi
uvicorn
python-multipart

langchain
langchain-community
langchain-core
langchain-text-splitters

chromadb

pymupdf
pypdf

sentence-transformers
transformers
torch

ollama

pytesseract
pillow
pdf2image